*.js
!jest.config.js
!cli/aegis/bin/aegis.js
!eslint.config.js
!services/demo-api/**/*.js
*.d.ts
node_modules
dist
cdk.out
.cdk.staging
*.swp
.DS_Store
.env
.env.*
!.env.example
*.log
coverage
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.aws-sam
*.tsbuildinfo
.turbo
reports/
